#main {
    h1,
    h2 {
        font-weight: 400;
        display: inline;
    }
    >#index {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translateX(-50%);
    }
    >#projects {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        #projectEntry {
            height: 152px;
            margin: 8px;
            padding: 8px;
            display: inline-block;
            background-size: auto;
            backdrop-filter: blur(12px);
            width: 640px;
            border-radius: 8px;
            >* {
                transition: ease-out 0.2s;
            }
            &:hover>* {
                opacity: .7;
                transition: ease-out 0.2s;
            }
            >#projectIconContainer {
                margin-left: 8px;
                text-align: left;
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 128px;
                width: 128px;
            }
            >#projectIconContainer>img {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 6px;
                max-width: 128px;
                max-height: 128px;
                z-index: 20;
            }
            >#projectInfo {
                margin: 5px;
                text-align: right;
                position: relative;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: block;
                line-height: 12px;
                overflow-x: clip;
                >#projectDescription {
                    text-overflow: ellipsis;
                    z-index: 10;
                }
            }
        }
    }
    * {
        filter: drop-shadow(0 0 3px #0003);
    }
}

div#topbar {
    background: #222d;
    backdrop-filter: blur(3px);
    height: 4em;

    div#img {
        text-align: left;
        margin: 8px;
        position: absolute;
        border-radius: 8px;
        display: inline-block;
        width: 48px;
        height: 48px;
        background-size: cover !important;
        background-position: center;
        background: url("https://avatars.githubusercontent.com/u/32397453");
        background-repeat: no-repeat;
    }

    div#trashyWelcome {
        text-align: left;
        width: fit-content;
        margin: 8px;
        margin-left: 68px;
        position: absolute;
        display: inline-block;

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
        }
    }

    @media (max-width: 800px) {
        div#img,
        div#trashyWelcome {
            display: none;
        }
        div#ui {
            margin: 0;
            text-align: center !important;
            height: 64px;
        }
    }

    div#ui {
        margin: 0;
        text-align: right;
        height: 64px;
        white-space: nowrap;

        ul {
            position: relative;
            list-style-type: none;
            display: inline-block;
            margin-right: 16px;

            li {
                $text-size: 18px;
                font-family: "Source Sans Pro", sans-serif;
                display: inline-flex;
                font-size: $text-size;
                margin: 0 15px;
                line-height: calc(14px + $text-size);
            }
        }
    }
}