#main > div {
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#main h1,
#main h2 {
  font-weight: 400;
  display: inline;
}
#main > #index {
  text-align: center;
  margin: 0;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
}
#main > #projects {
  width: 100vw;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
#main > #projects #projectEntry {
  height: 152px;
  width: 336px;
  margin: 8px;
  padding: 8px;
  display: inline-block;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 8px;
}
#main > #projects #projectEntry > * {
  transition: ease-out 0.2s;
}
#main > #projects #projectEntry:hover > * {
  transition: ease-out 0.2s;
}
#main > #projects #projectEntry > #projectInfo {
  margin: 2px;
  padding-right: 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: 52%;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: 500;
}
#main > #projects #projectEntry > #projectInfo > #projectName {
  font-weight: 700;
  font-size: 16px;
}
#main > #projects #projectEntry > #projectInfo > #projectDescription {
  font-size: 14px;
}
#main > #projects #projectEntry > #projectIconContainer {
  text-align: left;
  display: block;
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  height: 128px;
  width: 128px;
}
#main > #projects #projectEntry > #projectIconContainer > img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  max-width: 128px;
  max-height: 128px;
  z-index: 20;
}

div#topbar {
  background: rgba(34, 34, 34, 0.8666666667);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  white-space: wrap;
  overflow: hidden;
  width: 100vw;
  height: 4em;
}
div#topbar div#img {
  text-align: left;
  margin: 8px;
  position: absolute;
  border-radius: 8px;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: cover !important;
  background-position: center;
  background: url("https://avatars.githubusercontent.com/u/32397453");
  background-repeat: no-repeat;
}
div#topbar div#trashyWelcome {
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
  margin-left: 68px;
  position: absolute;
  display: inline-block;
}
div#topbar div#trashyWelcome p {
  font-family: "Open Sans";
}
@media (max-width: 800px) {
  div#topbar div#img,
  div#topbar div#trashyWelcome {
    display: none;
  }
  div#topbar div#ui {
    margin: 0;
    text-align: center !important;
  }
  div#topbar div#ui ul {
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin-right: 16px !important;
  }
  div#topbar div#ui ul li {
    font-size: 3.8vw !important;
    line-height: calc(14px + 3.8vw) !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 8px !important;
  }
  div#topbar div#ui ul li a[href] > svg {
    height: 3.8vw !important;
  }
}
div#topbar div#ui {
  margin: 0;
  text-align: right;
  height: 64px;
  white-space: nowrap;
}
div#topbar div#ui ul {
  position: relative;
  list-style-type: none;
  display: inline-block;
  margin-right: 16px;
}
div#topbar div#ui ul li {
  font-family: "Source Sans Pro", sans-serif;
  display: inline-flex;
  font-size: 18px;
  margin: 0 15px;
  line-height: 32px;
}
div#topbar div#ui ul li a[href] > svg {
  height: 18px;
  transform: translateY(3px);
}/*# sourceMappingURL=index.css.map */