#main {
    >div {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translateX(-50%);
        >h1 {
            font-weight: 400;
            display: inline;
        }
    }
    * {
        filter: drop-shadow(0 0 3px #0003);
    }
}