html,
body {
  margin: 0;
  color: #fff;
  background: #333;
  background-position: center;
  background-size: cover;
  color-scheme: dark;
  font-family: "Open Sans";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img {
  border-radius: 3px;
}

@media (max-width: 800px) {
  div#topbar {
    display: flex;
    justify-content: center;
  }
  img {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100vw;
  }
  img.imgPreviewable {
    margin: 3px;
    cursor: zoom-in;
    height: initial;
    width: 15%;
  }
  div#main > div {
    padding-bottom: 64px;
  }
}
div#main {
  padding: 5px;
}

a[href] {
  transition: 0.3s;
  text-decoration: none;
  color: #dcdcdc;
  fill: currentColor;
}
a[href]:hover {
  transition: 0.3s;
  color: #9be8c4;
}

img.imgPreviewable {
  margin: 3px;
  cursor: zoom-in;
  height: 192px;
  width: initial;
}

div#imgContent {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  text-align: center;
  position: fixed;
  bottom: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  z-index: 2;
  transition: 0.3s;
}
div#imgContent:hover {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  opacity: 0.25;
  transition: 0.3s;
}
div#imgContent h2#imgTitle,
div#imgContent p#imgDesc {
  margin: 8px;
  overflow: auto;
  display: block;
}

div#imgPreviewOverlay {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5333333333);
  animation: fadeIn 0.1s ease-in;
  z-index: 2;
}
div#imgPreviewOverlay div#closeImgPreview {
  float: right;
  width: 64px;
  height: 64px;
  line-height: 64px;
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  text-align: center;
}
div#imgPreviewOverlay div#closeImgPreview a {
  display: inline-block;
}
div#imgPreviewOverlay div#imgPreviewContainer {
  overflow: auto;
  width: 100%;
  z-index: 3;
}
@media (orientation: landscape) {
  div#imgPreviewOverlay div#imgPreviewContainer img {
    position: fixed;
    top: -100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    height: 75vh;
    max-height: 80vh;
    max-width: 80vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin: auto;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
    animation: zoomIn 0.5s ease;
  }
}
@media (orientation: portrait) {
  div#imgPreviewOverlay div#imgPreviewContainer img {
    position: fixed;
    top: -100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    width: 75vw;
    max-height: 80vh;
    max-width: 80vw;
    -o-object-fit: contain;
       object-fit: contain;
    margin: auto;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
    animation: zoomIn 0.5s ease;
  }
}

div#imgLibWrapper {
  width: auto;
}
div#imgLibWrapper img {
  display: inline;
}

div#footer {
  position: fixed;
  text-align: center;
  font-family: sans-serif;
  color: #888;
  font-size: 12px;
  width: 100vw;
  margin: 0;
  padding: 2px;
  right: 0;
  bottom: 0;
  display: block;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  background: #222;
  overflow: hidden;
}

@keyframes zoomIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
div#bottomSpacer {
  padding: 32px;
}

img[pixelated=true] {
  image-rendering: pixelated;
}/*# sourceMappingURL=style.css.map */